<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @title %></title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

<nav>
  <ul class="nav_menu_links">
    <% if session[:user]%>
      <li><%= current_page?("spaces") ? 'Spaces' : '<a href="/spaces">Spaces</a>'%></li>
      <li><%= current_page?("requests") ? 'Requests' : '<a href="/requests">Requests</a>'%></li>
      <li><form method="post" action="/logout">
                  <button type="submit" name="logout" class="link-button">Log out</button>
                </form></li>
    <% end %>

    <% if !session[:user]%>
      <li><%= current_page?("login") ? 'Log in' : '<a href="/login">Log in</a>'%></li>
      <li><%= current_page?("about") ? 'About' : '<a href="/about">About</a>'%></li>
    <% end %>
  </ul>
</nav>

  <%= yield %>
</body>
</html>