
<div class="flex-container center"> 
  <div class="flex-child">
    <h3>Requests for me</h3>
    <div class='scroller'>
      <% @requests.each do |request| %>
        <div class='request' onclick="location.href='/requests/<%= request.id %>'" style="cursor:pointer">
            Space ID: <%= request.space_id %><br>
            Requester ID: <%= request.requester_id %><br>
            date: <%= request.date %><br>
            Status: <%= request.status %><br>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex-child">
    <h3>Requests by me</h3>
    <div class='scroller'>
      <% @requests_by_me.each do |request| %>
        <div class='request' onclick="location.href='/spaces/<%= request.space_id %>'" style="cursor:pointer">
            Space ID: <%= request.space_id %><br>
            Requester ID: <%= request.requester_id %><br>
            date: <%= request.date %><br>
            Status: <%= request.status %><br>
        </div>
      <% end %>
    </div>
  </div>
</div>


