<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spaces</title>
  <link rel="stylesheet" href="/style.css" >
</head>
<body>
  <h3>Requests for me</h3>
  <% @requests.each do |request| %>
    <a href="/request/<%= request.id %>">
      <div>
          Space ID: <%= request.space_id %><br>
          Requester ID: <%= request.requester_id %><br>
          date: <%= request.date %><br>
          Status: <%= request.status %><br>
      </div>
    </a><br />
  <% end %>
</body>
</html>