<h3>Requests for me</h3>
<% @requests.each do |request| %>
  <div onclick="location.href='/requests/<%= request.id %>'" style="cursor:pointer">
      Space ID: <%= request.space_id %><br>
      Requester ID: <%= request.requester_id %><br>
      date: <%= request.date %><br>
      Status: <%= request.status %><br>
  </div>
  -------------------------
  <br>
<% end %>
<h3>Requests by me</h3>
<% @requests_by_me.each do |request| %>
  <div onclick="location.href='/spaces/<%= request.space_id %>'" style="cursor:pointer">
      Space ID: <%= request.space_id %><br>
      Requester ID: <%= request.requester_id %><br>
      date: <%= request.date %><br>
      Status: <%= request.status %><br>
  </div>
  -------------------------
  <br>
<% end %>
