<% @title = "Request for #{@request_data[:name]}" %>
<div>
  <h1>Request for <%= @request_data[:name] %></h1>
  <p><%= @request_data[:description] %></p>
  <p>From: <%= @request_data[:email] %></p>
  <p>Date: <%= @request_data[:date].to_s %></p>
</div>

<% if session[:user] && @request_data[:owner_id] == session[:user].id %>
  <div>
    <form method="post" action="/deny_request">
      <button type="submit" name="request_id" value="<%= @request_data[:request_id] %>" class="link-button">Deny Request from <%= @request_data[:email] %></button>
    </form>
  </div>
<% end %>
