<% @title = "MakersBnB - #{@space.name}" %>
<h1><%= @space.name %></h1>
<p><%= @space.description %></p>
<div>
  <form method='POST' action='/spaces/<%= @space.id%>'> 
    <label for="date">Select a date:</label>
    <select name="date" id="date">
    <% @space.available_dates.each do |date|%>
      <option value="<%= date %>"><%= date %></option>
    <% end %>
    </select>
    <input type='submit' value='submit'>
  </form>
</div>